 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 * {
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
 }

 body {
     background-color: black;
     color: white;

 }

 .left {
     width: 25vw;
     padding: 10 px;
 }

 .right {
     width: 75vw;
 }

 .home ul li {
     width: 14px;
     list-style: none;
     display: flex;
     gap: 15px;
     padding-top: 14px;
     font-weight: bold;
 }

 .bg-black {
     background-color: black;
     color: white;
 }

 .bg-grey {
     background-color: #121212;
 }

 .library {
     position: relative;
     min-height: 77vh;
 }

 .library img {
     width: 14px;
 }

 .heading {
     width: 100%;
     display: flex;
     gap: 15px;
     padding-top: 14px;
     font-weight: bold;
     align-items: center;
     font-size: 13px;
 }

 .heading img {
     width: 30px;
 }

 .footer {
     display: flex;
     gap: 13px;
     font-size: 10px;
     position: absolute;
     bottom: 0;
 }

 .footer a {
     color: grey;
 }

 .header {
     display: flex;
     justify-content: space-between;
     background-color: rgb(34, 34, 34);
 }

 .header>* {
     padding: 20px;
 }

 .spotifyPlaylists {
     padding: 16px;
 }

 .cardContainer {
     display: flex;
     gap: 10px;
     flex-wrap: wrap;
     margin: 30px;
 }

 .card {
     width: 200px;
     background-color: #252525;
     padding: 10px;
     border-radius: 5px;
     position: relative;        
 }

 .card>* {
     padding-top: 10px;
 }

 .card img {
     width: 100%;
     object-fit: contain;
 }
.play {
     width: 28px;
     height: 28px;
     background-color: #1fdf64;
     border-radius: 50%;
     padding: 4px;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     bottom: 128px;
     right: 19px;
     opacity: var(--a);
     transition: all 1s ease-out;
 }
