.rounded{
    border-radius: 7px;
} 
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.m-1{
    margin: 5px;
}
.border{
    border: 2px solid red;
}
.p-1{
    padding: 10px;
}